* {
    font-family: 'Lexend', monospace;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(34, 223, 242, 1) 0%, rgba(0, 168, 255, 1) 100%);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 80%;
    width: 35%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    min-height: 500px;
    min-width: 500px;
    overflow: auto;
}

#title {
    padding: 20px;
    text-align: center;
}

#new-todo {
    display: flex;
    margin: 0 25px;
}

#input {
    width: 100%;
    align-items: center;
}

#todo-list {
    margin: 20px 5px;
}

#list {
    list-style: none;
    padding: 0;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

#bottom {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

#pending {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 15px;
}

.btn {
    margin-left: 10px;
}